.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 3em;
    text-decoration: none;
    color: rgba(66,139,202);
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    display: none;
    border-radius: 10px/10px;
}


.back-to-top:hover {    
    background-color: rgba(135, 135, 135, 0.50);
    color: rgba(42,100,150);


}